{% extends 'site_base.html' %}
{% load staticfiles %}

{% block content %}
    <h1>IMAGER login.</h1>
    <form method="post" action=".">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Log in" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p><a href="{% url 'auth_password_reset' %}">Forgot password</a>?</p>
    <p><a href="{% url 'registration_register' %}">Not a member</a><?/p>
    <p><a href="/">Home</a></p>
{% endblock %}

{% block thumbnails %}
    <article>
        {% if random_photo %}
            <a class="thumbnail" href="{{ random_photo.photo_file.url }}" data-position="left center"></a>
            <h2>{{ random_photo.title }}</h2>
            <p>{{ random_photo.description }}</p>
        {% else %}
            <a class="thumbnail" href="{% static "default_img.jpg" %}" data-position="left center"></a>
            <h2>Image of the moment</h2>
            <p>I believe life is an intelligent thing: that things aren't random. ~Steve Jobs</p>
        {% endif %}
    </article>
{% endblock %}