{% extends 'site_base.html' %}
{% load staticfiles %}

{% block content %}
    <h1>Album Detail.</h1>
    {% if album.title %}<h2>"{{ album.title }}"</h2>{% endif %}

    <!-- Navigation -->
    <div>
        {% if user.is_authenticated %}User: <a href="/profile/" target="_self">{{user.username}}</a><br>{% endif %}

        {% if user.is_authenticated %}
            <a href="/images/library/">Photo library</a> | <a href="/accounts/logout/">Log out</a>
        {% else %}
            <a href="/accounts/login/">Log in</a> | <a href="/accounts/register/">Register</a>
        {% endif %}
    </div>
    <!-- End Navigation -->

{% endblock %}

{% block thumbnails %}
    <article>
        {% if album.cover %}
            {% thumbnail album.cover.photo_file as image %}
                <a class="thumbnail" href="{{ image.url }}" data-position="left center"><img src="{{ image.url }}" alt="" /></a>
            {% endthumbnail %}
{#                <a class="thumbnail" href="{{ album.cover.photo_file.url }}" data-position="left center"><img src="{{ album.cover.photo_file.url }}" alt="" /></a>#}
            <h2>{{ album.title }}</h2>
            <p>{{ album.description }}</p>
        {% else %}
            <a class="thumbnail" href="{% static "default_cover.jpg" %}" data-position="left center"><img src="{% static "default_cover.jpg" %}" alt="" /></a>
            <h2>Album Cover Default</h2>
            <p>Select a cover photo to change this.</p>
        {% endif %}
    </article>

    {% for pic in album.pictures.all %}
{#  TODO: ignore if cover is in pictures.all #}
{#        {% ifnotequal album.cover.title pic.title %}#}
            <article>
                <a class="thumbnail" href="{{ pic.photo_file.url }}"><img src="{{ pic.photo_file.url }}" alt="" /></a>
                <h2>{{ pic.title }}</h2>
                <p>{{ pic.description }}</p>
             </article>
{#        {% endifnotequal %}#}
    {% endfor %}
{% endblock %}