{% extends 'site_base.html' %}
{% load staticfiles %}

{% block content %}
    <h1>Edit Album.</h1>

    <!-- Navigation -->
    <div>
        {% if user.is_authenticated %}User: <a href="/profile/" target="_self">{{user.username}}</a><br>{% endif %}

        {% if user.is_authenticated %}
            <a href="/images/library/">Photo library</a> | <a href="/accounts/logout/">Log out</a>
        {% else %}
            <a href="/accounts/login/">Log in</a> | <a href="/accounts/register/">Register</a>
        {% endif %}
    </div>
    <!-- End Navigation -->

    <form action ="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}