{% load thumbnail %}
<h1>Welcome to the Library</h1>
<p>{{imgs}}</p>
<p>{{albums}}</p>

{%for album in albums%}
<p>{{album}}</p>
<p>{{album.cover}}</p>
    {% thumbnail album.cover.photo_file "100x100" as al_cover%}
        <p>{{al_cover}}</p>
        <img src="{{ al_cover.url }}"width="{{al_cover.x}}" height="{{al_cover.y}}"/>
    {% empty %}
        <p>No photos Found</p>
    {% endthumbnail %}
{% endfor %}

{%for photo in imgs%}
<p>{{photo}}</p>
<p>{{photo.photo_file}}</p>
    {% thumbnail photo.photo_file "100x100" as img%}
        <p>{{img}}</p>
        <img src="{{ img.url }}"width="{{img.x}}" height="{{img.y}}"/>
    {% empty %}
        <p>No photos Found</p>
    {% endthumbnail %}
{% endfor %}